@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

.font-imprima {
  font-family: "Imprima";
  font-style: normal;
}

.font-lexend {
  font-family: "Lexend";
  font-style: normal;
}

.font-inter {
  font-family: "Inter";
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* Internet Explorer and old Edge */
* {
  -ms-overflow-style: none;
}